@import './config.scss';

.container {
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  width: 100%;
  justify-items: center;
}

.title {
  font-size: 6rem;
  text-align: center;
}

.description {
  max-width: 80%;
}
